%h2 Create New Listing

= form_tag listings_path do

  = label :listing, :name, 'Name'
  = text_field :listing, :name
  %br

  = label :listing, :description, 'Description'
  = text_field :listing, :description
  %br

  = label :listing, :elevator_building, 'Building has elevator'
  = check_box :listing, :elevator_building
  %br

  = label :listing, :pickup_only, 'Buyer must pick up'
  = check_box :listing, :pickup_only
  %br

  = label :listing, :purchase_date, 'Purchased On'
  = date_select :listing, :purchase_date
  %br

  = submit_tag 'Save Changes', :class => 'btn btn-primary'
