!!!
%html
  %head
    %script{:src => "https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"}
    %link{:href => "https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .row.mb-4
      .col-8.mx-auto{:align => "center", :style => "max-width: 640px;"}
        .instf-listing-detail-header.mb-2 #{@listing.name}
        %hr
        .d-flex.flex-row.justify-content-between.mb-2
          - if @listing.photo.attached?
            %img.my-auto.shadow.rounded{:src => (url_for(@listing.photo)), :width => "300px"}
          .mx-2
          .instf-listing-detail-description.my-auto
            #description= @listing.description
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Ask
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            $
            = @listing.price
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Location
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            = @listing.location
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Purchase Date
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            = @listing.purchase_date.strftime("%B %d, %Y")
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Phone
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            = @listing.phone
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Email
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            = @listing.email
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Elevator
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            - if @listing.elevator_building
              = "Building has elevator"
            - else
              = "No elevator in building"
        %hr
        %dl.row
          %dt.col-sm-4.my-auto.instf-listing-detail-title Pick-up
          %dd.col-sm-8.my-auto.instf-listing-detail-content
            - if @listing.pickup_only
              = "Buyer pick-up only"
            - else
              = "Seller can deliver"
        - if @owns_listing
          = link_to edit_listing_path(@listing), :class => 'btn btn-primary mr-1' do
            .text-center
              %i.fa.fa-edit
              Edit
          = link_to listing_path(@listing), :method => :delete, :class => 'btn btn-primary mr-1' do
            .text-center
              %i.fa.fa-trash-o
              Delete
        - else
          = link_to "sms:#{@listing.phone}", :class => 'btn btn-primary mr-1' do
            .text-center
              %i.fa.fa-comment
              Text
          = link_to "mailto:#{@listing.email}", :class => 'btn btn-primary mr-1' do
            .text-center
              %i.fa.fa-envelope
              Email
        = link_to listing_path, :class => 'btn btn-primary mr-1' do
          .text-center
            %i.fa.fa-home
            Back to listing list

      .col-4.mx-auto.my-auto
        #map.shadow.rounded{:style => "width: 100%; height: 530px;"}
        :javascript
              var addresses = [#{raw @listing.to_json}['location']];
              console.log(addresses);

              window.onload = function() {
                // See README for where to obtain and set up this API key
                L.mapquest.key = "#{ENV["MAPQUEST_APIKEY"]}";

                if(addresses[0]) {
                  // Geocode locations, then call the createMap callback
                  L.mapquest.geocoding().geocode(addresses, createMap);

                  function createMap(error, response) {
                    var location = response.results[0].locations[0];
                    var locationLatLng = location.latLng;
                    // Initialize the Map
                    var map = L.mapquest.map('map', {
                      layers: L.mapquest.tileLayer('map'),
                      center: [locationLatLng["lat"], locationLatLng["lng"]],
                      zoom: 15
                    });

                    // Add markers to map
                    L.marker([locationLatLng["lat"], locationLatLng["lng"]], {
                              icon: L.mapquest.icons.marker(),
                              draggable: false}).addTo(map);
                  }
                }
                else {
                  L.mapquest.map('map', {
                        layers: L.mapquest.tileLayer('map'),
                        center: [40.8075, -73.9626],
                        zoom: 15
                      });
                }
              }

